/* Leaflet overrides */
.leaflet-bottom.leaflet-right {
  width: 100%;
}
.leaflet-right .leaflet-control {
  float: none;
}

.map-info-popup {
  margin-top: 0;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0;
  padding: 1em;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* Mobile display */
@media (max-width: 768px) {
  .map-info-popup {
    height: 14em;
    flex-direction: column;
  }
  .popup-image-container {
    width: 100%;
    height: auto;
  }
  .popup-image {
    max-height: 100%;
  }
}

/* Desktop display */
@media (min-width: 769px) {
  .map-info-popup {
    height: 14em;
  }
}
.map-info-popup h3 {
  margin-top: 0;
  font-size: 1.2em !important;
}

.popup-content {
  margin: auto;
}

.popup-content.popup-content-aligned {
  text-align: center;
}

.popup-image-container {
  flex: 0 1 auto;
  width: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-image {
  max-height: 10em;
  max-width: 100%;
  object-fit: contain;
}

.popup-details {
  flex: 1 1 auto;
  padding-left: 15px;
  padding-right: 10px;
  margin-right: 10px;
}

.popup-achile-logo {
  max-width: 150px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 15%;
  margin-right: 15%;
}