.wordpressmap-content ::after, .wordpressmap-content ::before {
  box-sizing: unset !important;
}
*, ::after, ::before {
	box-sizing: unset !important;
}

.wordpressmap-content {
  height: 90vh;
  margin: 0;
  border-bottom: 1px solid black;
}

#map {
  height: 100%;
}
.leaflet-container .leaflet-control-attribution {
  float: right;
  text-align: right
}

.legend {
  background: white;
  line-height: 18px;
  padding: 2px 12px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);  
}
.legend-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 12px;
  margin-bottom: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer !important;
}
.legend-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.legend-span span {
  display: inline-block;
}

.legend div.legend-item {
  margin: 0;
  padding: auto;
  align-items: center;
}
.text-legend {
  position: relative;
  top: -0.6em;
}
.layer-checkbox {
  bottom: 5px;
  position: relative;
  margin-right: 12px;
}

.legend-toggle-arrow {
  position: absolute;
  top: 2px; /* Adjust as needed */
  right: 2px; /* Adjust as needed */
  cursor: pointer; /* Optional: Changes the cursor to a pointer to indicate it's clickable */
}

.legend.leaflet-control .legend-content-wrapper {
  position: relative;
}

.toggle-legend-arrow-down, .toggle-legend-arrow-up {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  cursor: pointer !important;
}

.toggle-legend-arrow-down {
  border-top: 8px solid rgba(0, 0, 0, 0.8); /* Arrow pointing top-right to bottom-left */
}

.toggle-legend-arrow-up {
  border-bottom: 8px solid rgba(0, 0, 0, 0.8); /* Arrow pointing bottom-left to top-right */
}

.leaflet-control-zoom a {
  text-decoration: none !important;
}
.leaflet-control-home {
  background-color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.leaflet-control-home svg {
  height: 20px;
  color: black;
}
/* Styles for retina (high-DPI) screens */
@media only screen and (min-resolution: 192dpi),
     only screen and (min-device-pixel-ratio: 2) {
      .text-legend {
        position: relative;
        top: -0.6em;
      }
     }

.legend.expanded .legend-item, legend .legend-icon {
  display: block;
}

.legend .legend-item, .legend.expanded .legend-icon {
  display: none;
}
