.wordpressmap-content {
  height: 90vh;
  margin: 0;
  border-bottom: 1px solid black;
}

#map {
  height: 100%;
}
.leaflet-container .leaflet-control-attribution {
  float: right;
  text-align: right
}